<% content_for :title, "Editing film" %>

<h1>Editar este Film</h1>

<%= render "form", film: @film %>

<br>

<div>
  <%= link_to "Mostar Pelicula", @film %> |
  <%= link_to "Back to films", films_path %>
</div>
