/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 6; /* Limitar a 6 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 10.5em; /* Ajustar según el tamaño de línea */
}


.card-title  
  {display: -webkit-box;
  -webkit-line-clamp: 1; /* Limitar a 6 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 8em; /* Ajustar según el tamaño de línea */
}



.empty-text {
    background-color: #f8f9fa; /* O cualquier color de fondo */
    height: 6em; /* Una altura predeterminada para mantener consistencia */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c757d; /* Color de texto apagado */
}